@model List<List<DateTime>>
<div id="component-header">
    <a class="month" style="float:left;margin-left:10px;">@Html.ActionLink("Prev" , "Changed", "Home", new { NewMonth = Model.Last().Last() , Change = -1 }, null)  </a>
   <h2>@Model.Last().Last().ToString("Y") </h2> 
    <a class="month" style="float:right;margin-right:10px;">@Html.ActionLink("Next", "Changed", "Home", new { NewMonth = Model.Last().Last(), Change = 1 },  null) </a>
</div>

<div>
    <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Sun
                </th>
                <th>
                    Mon
                </th>
                <th>
                    Tue
                </th>
                <th>
                    Wed
                </th>
                <th>
                    Thurs
                </th>
                <th>
                    Fri
                </th>
                <th>
                    Sat
                </th>
            </tr>
        <tbody>
           @foreach (var i in Model)
           {
               <tr>
               @foreach (var item in i)
               {
                   if (item.Ticks == 0)
                   {
                       <td ></td>
                   }
                   else
                   {
                    <td >@Html.ActionLink(item.Day.ToString(), "DaySched", "Reservations", new { day = item} , null)  </td>

                   }

               }

                </tr>
           } 
        </tbody>
    </table>
</div>